# Ignore various cache files
.persistent-scratch
backups/
elpa/
eshell/
projectile-bookmarks.eld
recentf
url/

# Ignore swap and backup files. These *should* be neatly sorted into backups/
# but we still need this for emacs -Q
.#*
*~

# Ignore custom file. It's machine-edited so resolving merge conflicts
# is a nightmare. If you want to version control your custom file, consider
# using a submodule.
/user/custom.el
